unpackaged/main/default/flows/Test_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>New_Assignment</name>
        <label>New Assignment</label>
        <locationX>982</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>$Record.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Test_decision</name>
        <label>Test_decision</label>
        <locationX>398</locationX>
        <locationY>385</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Test_decision1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Test</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Test</elementReference>
                </rightValue>
            </conditions>
            <label>Test_decision</label>
        </rules>
    </decisions>
    <description>Adding new version 8</description>
    <environments>Default</environments>
    <interviewLabel>Test flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <stages>
        <name>Test</name>
        <isActive>false</isActive>
        <label>Test</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>651</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Test_decision</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Testing123</name>
            <connector>
                <targetReference>New_Assignment</targetReference>
            </connector>
            <label>Testing Path</label>
            <offsetNumber>-12</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>SLAExpirationDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
